* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h1 {
    text-align: center;
  }

  .books-container {
    width: 35%;
    margin: 10px auto;
  }

  .books-container p {
    margin-bottom: 5px;
  }

  .books-container button {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .form-input {
    display: grid;
    width: 35%;
    margin: auto;
  }

  .form-input input {
    margin-bottom: 10px;
  }

  .form-input button {
    width: 20%;
    cursor: pointer;
  }
